<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJET1.Properties.Settings.personnelConnectionString"
            connectionString="server=localhost;user id=personnel;password=motdepasse;persistsecurityinfo=True;database=personnel"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>